<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" href= "/css/style.css">
</head>


<body>
    {{>header}}
    <img class= "portrait" src ="/img/86323.jpg"
    {{>footer}}
</body>



</html>


