<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" href= "/css/style.css">
</head>


<body>
    {{>header}}
    <p>This site was created by Divyansh Pant. It uses data from mapbox.com and darksky.net</p>
    <img class= "portrait" src ="/img/86323.jpg"
    {{>footer}}
</body>



</html>


