<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href= "/css/style.css">
    </head>

    <body>
        {{>header}}
        <p> This is where we solve every problem. {{example}}</p>
        {{>footer}}
    </body>

</html>